.container {

}

.hidden-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  background-color: rgba(50, 50, 50, 0.75);
}

.modal {
  width: 450px;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rowFlexEnd {
  justify-content: flex-end;
}

.column-full {
  text-align: center;
}

.column-eigth {

}

.entry-button {
  width: 150px;
  height: 30px;

}

.hidden {
  display: none;
}
 .textareaWidth {
   width: 100%;
 }
