.container {

}

.fontChivo {
  font-family: 'Chivo', sans-serif;
}

.fontOverpass {
  font-family: 'Overpass', sans-serif;
}


.hidden-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  background-color: rgba(50, 50, 50, 0.75);
}

.modal {
  width: 450px;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

.add-entry-header {
  color: cornflowerblue;
}

.add-entry-button {
  background-color: cornflowerblue;
  padding: .5rem 1rem;
  border-radius: 15%;
  border: none;
  outline: none;
}

.add-entry-button:hover {
  background-color: lightblue;
}

.row {
  display: flex;
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-right {
  margin-right: 1.3rem;
}

.rowFlexEnd {
  justify-content: flex-end;
}

.column-full {
  text-align: center;
}

.column-eigth {

}

.entry-button {
  width: 150px;
  height: 30px;

}

.hidden {
  display: none;
}
 .textareaWidth {
   width: 100%;
 }
